html, body, ul, ul li, h1, h2, h3, h4, h5, h6, div, span, img { margin: 0; padding: 0; line-height: 1; }

html, body { margin: 0; padding: 0; font-family: "Montserrat", sans-serif; color: #444; }

a { color: #06c; text-decoration: none; font-weight: 600; }

.strong-text { font-weight: bold; }

.normal-text { font-weight: 500; }

@font-face { font-family: "Caveat-Regular"; src: url("font/Caveat-Regular.ttf") format("truetype"); font-weight: 400; }

@font-face { font-family: "Caveat-Bold"; src: url("font/Caveat-Bold.ttf") format("truetype"); font-weight: 400; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Thin.ttf") format("truetype"); font-weight: 100; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Light.ttf") format("truetype"); font-weight: 300; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Regular.ttf") format("truetype"); font-weight: 400; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Medium.ttf") format("truetype"); font-weight: 500; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-SemiBold.ttf") format("truetype"); font-weight: 600; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Bold.ttf") format("truetype"); font-weight: 700; }

h1 { font-family: "Montserrat"; font-weight: 300; font-size: 16px; }

h2 { font-family: "Montserrat"; font-weight: 300; font-size: 16px; }

h3 { font-family: "Montserrat"; font-weight: 300; font-size: 16px; }

.shadow-2dp { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.shadow-3dp { box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4); }

.shadow-4dp { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4); }

.shadow-6dp { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4); }

.shadow-8dp { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

.shadow-12dp { box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4); }

.shadow-16dp { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4); }

.inset-shadow-2dp { box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 1px 5px 0 rgba(0, 0, 0, 0.12), inset 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.inset-shadow-3dp { box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.14), inset 0 1px 8px 0 rgba(0, 0, 0, 0.12), inset 0 3px 3px -2px rgba(0, 0, 0, 0.4); }

.inset-shadow-4dp { box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.14), inset 0 1px 10px 0 rgba(0, 0, 0, 0.12), inset 0 2px 4px -1px rgba(0, 0, 0, 0.4); }

.inset-shadow-6dp { box-shadow: inset 0 6px 10px 0 rgba(0, 0, 0, 0.14), inset 0 1px 18px 0 rgba(0, 0, 0, 0.12), inset 0 3px 5px -1px rgba(0, 0, 0, 0.4); }

.inset-shadow-8dp { box-shadow: inset 0 8px 10px 1px rgba(0, 0, 0, 0.14), inset 0 3px 14px 2px rgba(0, 0, 0, 0.12), inset 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

.inset-shadow-12dp { box-shadow: inset 0 12px 16px 1px rgba(0, 0, 0, 0.14), inset 0 4px 22px 3px rgba(0, 0, 0, 0.12), inset 0 6px 7px -4px rgba(0, 0, 0, 0.4); }

.inset-shadow-16dp { box-shadow: inset 0 16px 24px 2px rgba(0, 0, 0, 0.14), inset 0 6px 30px 5px rgba(0, 0, 0, 0.12), inset 0 8px 10px -5px rgba(0, 0, 0, 0.4); }

.layout.horizontal, .layout.vertical { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.layout.inline { display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex; }

.layout.horizontal { -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }

.layout.vertical { -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }

.layout.wrap { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.layout.no-wrap { -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }

.layout.center, .layout.center-center { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.layout.center-justified, .layout.center-center { -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.flex { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

.flex-auto { -ms-flex: 1 1 auto; -webkit-flex: 1 1 auto; flex: 1 1 auto; }

.flex-none { -ms-flex: none; -webkit-flex: none; flex: none; }

.layout.horizontal-reverse, .layout.vertical-reverse { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.layout.horizontal-reverse { -ms-flex-direction: row-reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }

.layout.vertical-reverse { -ms-flex-direction: column-reverse; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }

.layout.wrap-reverse { -ms-flex-wrap: wrap-reverse; -webkit-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

/** Alignment in cross axis. */
.layout.start { -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; }

.layout.center, .layout.center-center { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.layout.end { -ms-flex-align: end; -webkit-align-items: flex-end; align-items: flex-end; }

.layout.baseline { -ms-flex-align: baseline; -webkit-align-items: baseline; align-items: baseline; }

/** Alignment in main axis. */
.layout.start-justified { -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; }

.layout.center-justified, .layout.center-center { -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.layout.end-justified { -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }

.layout.around-justified { -ms-flex-pack: distribute; -webkit-justify-content: space-around; justify-content: space-around; }

.layout.justified { -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

/** Self alignment. */
.self-start { -ms-align-self: flex-start; -webkit-align-self: flex-start; align-self: flex-start; }

.self-center { -ms-align-self: center; -webkit-align-self: center; align-self: center; }

.self-end { -ms-align-self: flex-end; -webkit-align-self: flex-end; align-self: flex-end; }

.self-stretch { -ms-align-self: stretch; -webkit-align-self: stretch; align-self: stretch; }

.self-baseline { -ms-align-self: baseline; -webkit-align-self: baseline; align-self: baseline; }

/** multi-line alignment in main axis. */
.layout.start-aligned { -ms-flex-line-pack: start; /* IE10 */ -ms-align-content: flex-start; -webkit-align-content: flex-start; align-content: flex-start; }

.layout.end-aligned { -ms-flex-line-pack: end; /* IE10 */ -ms-align-content: flex-end; -webkit-align-content: flex-end; align-content: flex-end; }

.layout.center-aligned { -ms-flex-line-pack: center; /* IE10 */ -ms-align-content: center; -webkit-align-content: center; align-content: center; }

.layout.between-aligned { -ms-flex-line-pack: justify; /* IE10 */ -ms-align-content: space-between; -webkit-align-content: space-between; align-content: space-between; }

.layout.around-aligned { -ms-flex-line-pack: distribute; /* IE10 */ -ms-align-content: space-around; -webkit-align-content: space-around; align-content: space-around; }

.flex, .flex-1 { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

.flex-2 { -ms-flex: 2; -webkit-flex: 2; flex: 2; }

.flex-3 { -ms-flex: 3; -webkit-flex: 3; flex: 3; }

.flex-4 { -ms-flex: 4; -webkit-flex: 4; flex: 4; }

.flex-5 { -ms-flex: 5; -webkit-flex: 5; flex: 5; }

.flex-6 { -ms-flex: 6; -webkit-flex: 6; flex: 6; }

.flex-7 { -ms-flex: 7; -webkit-flex: 7; flex: 7; }

.flex-8 { -ms-flex: 8; -webkit-flex: 8; flex: 8; }

.flex-9 { -ms-flex: 9; -webkit-flex: 9; flex: 9; }

.flex-10 { -ms-flex: 10; -webkit-flex: 10; flex: 10; }

.flex-11 { -ms-flex: 11; -webkit-flex: 11; flex: 11; }

.flex-12 { -ms-flex: 12; -webkit-flex: 12; flex: 12; }

.block { display: block; }

[hidden], .hidden { display: none !important; }

.invisible { visibility: hidden !important; pointer-events: none; }

.relative { position: relative; }

.fit { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

body.fullbleed { margin: 0; height: 100vh; }

.scroll { -webkit-overflow-scrolling: touch; overflow: auto; }

/* fixed position */
.fixed-bottom, .fixed-left, .fixed-right, .fixed-top { position: fixed; }

.fixed-top { top: 0; left: 0; right: 0; }

.fixed-right { top: 0; right: 0; bottom: 0; }

.fixed-bottom { right: 0; bottom: 0; left: 0; }

.fixed-left { top: 0; bottom: 0; left: 0; }

.shrinkable { min-width: 0; min-height: 0; }

.horizontal-shrinkable { min-width: 0; }

.vertical-shrinkable { min-height: 0; }

.self-no-shrink { flex-shrink: 0 !important; flex-basis: auto !important; }

html, body { font-size: 18px; }

@media (max-width: 800px) { html, body { font-size: 16px; } }

@media (min-width: 800px) and (max-width: 1700px) { html, body { font-size: 20px; } }

@media (min-width: 1700px) { html, body { font-size: 24px; } }

.site-titles h1.site-title1 { font-size: 3.5rem; }

.buttons-stores { flex-direction: row; justify-content: flex-end; }

@media (max-width: 800px) { .site-titles h1.site-title1 { font-size: 3rem; } .page1-animations { margin-top: 42px; } .buttons-stores { flex-direction: column; align-items: center; } }

.site-titles h1.site-title1 { font-weight: 400; }

.site-titles h1.site-title1 .strong-text { font-weight: 600; color: #000; }

.site-titles .site-titles2 h2.site-title2 { font-size: 1rem; font-weight: 300; line-height: 140%; }

.site-titles .site-titles2 h2.site-title2 .strong-text { font-size: 1rem; font-weight: 600; color: #222; }

.buttons-stores .button-store { font-size: 14px; color: #fff; background: #0066cc; }

.site-titles { z-index: 9; text-align: center; margin-top: calc(42px + 2em); margin-left: 1em; margin-right: 1em; }

.site-titles h1.site-title1 { text-align: center; }

.site-titles .site-titles2 { margin-top: 1em; margin-bottom: 0.5em; }

.site-titles .site-titles2 h2.site-title2 { text-align: center; max-width: 100%; }

.buttons-stores { display: flex; }

.buttons-stores .button-store { display: inline-block; border-radius: 4px; height: 32px; padding-left: 4px; padding-right: 8px; cursor: pointer; user-select: none; }

.buttons-stores .button-store svg { height: 24px; width: 24px; margin-right: 4px; }

.sea-bg { margin-top: -4px; width: 100%; height: 10vw; background: #63d4b2; }

.page1-animations { position: relative; width: 100%; max-width: 2500px; box-sizing: border-box; transform: translate(0, -6%); }

.page1-animations .page1-bg-animation { box-sizing: border-box; width: 100%; padding-top: 48%; background-image: url("image/main-boat-bright.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center; }

.page1-animations .page1-bg-animation video { position: absolute; left: 0; top: 0; width: 100%; }

.page1-animations .page1-fg-animation-with-buttons { position: relative; box-sizing: border-box; margin-top: 32px; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); width: 38%; padding: 8px 16px; background: #222; border-radius: 16px; }

.page1-animations .page1-fg-animation-with-buttons .page1-fg-animation-wrap { position: relative; width: 100%; }

.page1-animations .page1-fg-animation-with-buttons .page1-fg-animation-wrap .page1-fg-animation { position: relative; box-sizing: border-box; width: 100%; padding-top: 71.4%; background: #fff; background-image: url("image/boat.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center; }

.page1-animations .page1-fg-animation-with-buttons .page1-fg-animation-wrap .page1-fg-animation video { position: absolute; left: 0; top: 0; width: 100%; }

html, body { font-size: 18px; }

@media (max-width: 800px) { html, body { font-size: 16px; } }

@media (min-width: 800px) and (max-width: 1700px) { html, body { font-size: 20px; } }

@media (min-width: 1700px) { html, body { font-size: 24px; } }

.layout.horizontal, .layout.vertical { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.layout.inline { display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex; }

.layout.horizontal { -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }

.layout.vertical { -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }

.layout.wrap { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.layout.no-wrap { -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }

.layout.center, .layout.center-center { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.layout.center-justified, .layout.center-center { -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.flex { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

.flex-auto { -ms-flex: 1 1 auto; -webkit-flex: 1 1 auto; flex: 1 1 auto; }

.flex-none { -ms-flex: none; -webkit-flex: none; flex: none; }

.layout.horizontal-reverse, .layout.vertical-reverse { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.layout.horizontal-reverse { -ms-flex-direction: row-reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }

.layout.vertical-reverse { -ms-flex-direction: column-reverse; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }

.layout.wrap-reverse { -ms-flex-wrap: wrap-reverse; -webkit-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

/** Alignment in cross axis. */
.layout.start { -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; }

.layout.center, .layout.center-center { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.layout.end { -ms-flex-align: end; -webkit-align-items: flex-end; align-items: flex-end; }

.layout.baseline { -ms-flex-align: baseline; -webkit-align-items: baseline; align-items: baseline; }

/** Alignment in main axis. */
.layout.start-justified { -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; }

.layout.center-justified, .layout.center-center { -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.layout.end-justified { -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }

.layout.around-justified { -ms-flex-pack: distribute; -webkit-justify-content: space-around; justify-content: space-around; }

.layout.justified { -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

/** Self alignment. */
.self-start { -ms-align-self: flex-start; -webkit-align-self: flex-start; align-self: flex-start; }

.self-center { -ms-align-self: center; -webkit-align-self: center; align-self: center; }

.self-end { -ms-align-self: flex-end; -webkit-align-self: flex-end; align-self: flex-end; }

.self-stretch { -ms-align-self: stretch; -webkit-align-self: stretch; align-self: stretch; }

.self-baseline { -ms-align-self: baseline; -webkit-align-self: baseline; align-self: baseline; }

/** multi-line alignment in main axis. */
.layout.start-aligned { -ms-flex-line-pack: start; /* IE10 */ -ms-align-content: flex-start; -webkit-align-content: flex-start; align-content: flex-start; }

.layout.end-aligned { -ms-flex-line-pack: end; /* IE10 */ -ms-align-content: flex-end; -webkit-align-content: flex-end; align-content: flex-end; }

.layout.center-aligned { -ms-flex-line-pack: center; /* IE10 */ -ms-align-content: center; -webkit-align-content: center; align-content: center; }

.layout.between-aligned { -ms-flex-line-pack: justify; /* IE10 */ -ms-align-content: space-between; -webkit-align-content: space-between; align-content: space-between; }

.layout.around-aligned { -ms-flex-line-pack: distribute; /* IE10 */ -ms-align-content: space-around; -webkit-align-content: space-around; align-content: space-around; }

.flex, .flex-1 { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

.flex-2 { -ms-flex: 2; -webkit-flex: 2; flex: 2; }

.flex-3 { -ms-flex: 3; -webkit-flex: 3; flex: 3; }

.flex-4 { -ms-flex: 4; -webkit-flex: 4; flex: 4; }

.flex-5 { -ms-flex: 5; -webkit-flex: 5; flex: 5; }

.flex-6 { -ms-flex: 6; -webkit-flex: 6; flex: 6; }

.flex-7 { -ms-flex: 7; -webkit-flex: 7; flex: 7; }

.flex-8 { -ms-flex: 8; -webkit-flex: 8; flex: 8; }

.flex-9 { -ms-flex: 9; -webkit-flex: 9; flex: 9; }

.flex-10 { -ms-flex: 10; -webkit-flex: 10; flex: 10; }

.flex-11 { -ms-flex: 11; -webkit-flex: 11; flex: 11; }

.flex-12 { -ms-flex: 12; -webkit-flex: 12; flex: 12; }

.block { display: block; }

[hidden], .hidden { display: none !important; }

.invisible { visibility: hidden !important; pointer-events: none; }

.relative { position: relative; }

.fit { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

body.fullbleed { margin: 0; height: 100vh; }

.scroll { -webkit-overflow-scrolling: touch; overflow: auto; }

/* fixed position */
.fixed-bottom, .fixed-left, .fixed-right, .fixed-top { position: fixed; }

.fixed-top { top: 0; left: 0; right: 0; }

.fixed-right { top: 0; right: 0; bottom: 0; }

.fixed-bottom { right: 0; bottom: 0; left: 0; }

.fixed-left { top: 0; bottom: 0; left: 0; }

.shrinkable { min-width: 0; min-height: 0; }

.horizontal-shrinkable { min-width: 0; }

.vertical-shrinkable { min-height: 0; }

.self-no-shrink { flex-shrink: 0 !important; flex-basis: auto !important; }

.section .section-header { display: grid; grid-template-columns: 1fr; grid-template-rows: auto; grid-template-areas: "section-title1" "section-title2" "section-title3"; }

.section .section-header .section-title1 { grid-area: section-title1; justify-self: center; text-align: center; }

.section .section-header .section-title2 { grid-area: section-title2; justify-self: center; min-height: 0; }

.section .section-header .section-title3 { grid-area: section-title3; justify-self: center; min-height: 0; }

.section .section-header._has-image { display: grid; grid-template-columns: min-content min-content max-content min-content; grid-template-rows: auto; grid-template-areas: ". section-image section-title1 ." ". . section-title2 section-title2" ". section-title3 section-title3 ."; }

.section .section-header._has-image .section-image { grid-area: section-image; padding-right: 1em; }

.section .section-header._has-image .section-title1 { grid-area: section-title1; justify-self: start; }

.section .section-header._has-image .section-title2 { grid-area: section-title2; }

.section .section-header._has-image .section-title3 { grid-area: section-title3; }

@media (max-width: 800px) { .section .section-header._has-image { grid-template-columns: 1fr; grid-template-areas: "section-image" "section-title1" "section-title2"; } .section .section-header._has-image .section-image { padding-right: 0; justify-self: center; } .section .section-header._has-image .section-title1 { justify-self: center; text-align: center; } }

.section div { position: relative; }

.section.pixodesk-section .section-header .section-title1 { font-size: 2.5rem; }

.section .section-header .section-title1 { font-size: 2rem; line-height: 170%; font-weight: 500; }

.section .section-header .section-title2, .section .section-header .section-title3 { justify-self: center; }

.section .section-header .section-title2, .section .section-header .section-title2 div, .section .section-header .section-title3, .section .section-header .section-title3 div { font-size: 1rem; line-height: 170%; font-weight: 300; }

.section .section-header .section-title2 li, .section .section-header .section-title3 li { text-align: justify; font-size: 1rem; line-height: 170%; font-weight: 300; }

.section { position: relative; display: flex; flex-direction: column; align-items: center; width: 100%; box-sizing: border-box; padding: 1em; }

.section.pixodesk-section .small-cards-grid { margin-left: 5%; margin-right: 5%; max-width: calc(min(70em, 100%)); }

.section.lottie-section { padding: 32px 32px 16px 32px; background: #f8f8f8; border-radius: 16px; border: 1px solid rgba(0, 0, 0, 0.1); max-width: calc(min(70em, 90%)); }

.section.lottie-section .small-card { border: none; background: none; }

.section .section-header { max-width: calc(min(60em, 90%)); }

.section .section-header .section-title2, .section .section-header .section-title3 { max-width: calc(min(40em, 100%)); margin-top: 1em; margin-bottom: 2em; }

.section.icons-section video, .section.splash-section video { border-radius: 16px; background: #fff; border: 1px solid rgba(0, 0, 0, 0.1); }

.section.icons-section { background: linear-gradient(90deg, #fafafa 0%, #e6e6e6 50%, #fafafa 100%); }

.section.icons-section video { padding: 1em; box-sizing: border-box; width: 30em; max-width: 90%; }

.section.loaders-section video { max-width: calc(min(30em, 90%)); border-radius: 16px; background: #fff; }

.section.splash-section { background: linear-gradient(90deg, #fafafa 0%, #e6e6e6 50%, #fafafa 100%); }

.section.splash-section video { padding: 1em; box-sizing: border-box; }

html, body { font-size: 18px; }

@media (max-width: 800px) { html, body { font-size: 16px; } }

@media (min-width: 800px) and (max-width: 1700px) { html, body { font-size: 20px; } }

@media (min-width: 1700px) { html, body { font-size: 24px; } }

.small-card-header.it1 { grid-area: h1; }

.small-card-header.it2 { grid-area: h2; }

.small-card-header.it3 { grid-area: h3; }

.small-card-header.it4 { grid-area: h4; }

.small-card-header.it5 { grid-area: h5; }

.small-card-header.it6 { grid-area: h6; }

.small-card-header.it7 { grid-area: h7; }

.small-card-header.it8 { grid-area: h8; }

.small-card-header.it9 { grid-area: h9; }

.small-card-text.it1 { grid-area: t1; }

.small-card-text.it2 { grid-area: t2; }

.small-card-text.it3 { grid-area: t3; }

.small-card-text.it4 { grid-area: t4; }

.small-card-text.it5 { grid-area: t5; }

.small-card-text.it6 { grid-area: t6; }

.small-card-text.it7 { grid-area: t7; }

.small-card-text.it8 { grid-area: t8; }

.small-card-text.it9 { grid-area: t9; }

.small-cards-grid { display: grid; column-gap: 1em; grid-template-columns: 1fr; }

.small-cards-grid .small-card-header { align-self: end; }

.small-cards-grid .small-card-text { margin-bottom: 2em; padding: 1em; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 0.5em; }

@media (max-width: 800px) { .small-cards-grid { grid-template-columns: 1fr; grid-template-areas: "h1" "t1" "h2" "t2" "h3" "t3" "h4" "t4" "h5" "t5" "h6" "t6" "h7" "t7" "h8" "t8" "h9" "t9"; } }

@media (min-width: 800px) and (max-width: 1200px) { .small-cards-grid { grid-template-columns: 1fr 1fr; grid-template-areas: "h1 h2" "t1 t2" "h3 h4" "t3 t4" "h5 h6" "t5 t6" "h7 h8" "t7 t8" "h9 ." "t9 ."; } }

@media (min-width: 1200px) { .small-cards-grid { grid-template-columns: 1fr 1fr 1fr; grid-template-areas: "h1 h2 h3" "t1 t2 t3" "h4 h5 h6" "t4 t5 t6" "h7 h8 h9" "t7 t8 t9"; } }

.small-card-text, .small-card-text li { font-size: 0.8rem; font-weight: 300; }

@media (max-width: 800px) { .small-card-text, .small-card-text li { font-size: 1rem; } }

.small-card-header { margin-bottom: 0.5em; }

.small-card-header .small-card-title { font-size: 1.25rem; font-weight: 700; line-height: 100%; }

.small-card-header .small-card-title .text-title { margin-right: 1em; line-height: 130%; }

.small-card-text li { text-align: justify; line-height: 170%; }

.small-cards-grid { position: relative; }

.small-cards-grid .small-card { justify-self: center; max-width: calc(min(25em, 100%)); }

.small-cards-grid .small-card-header .small-card-title .card-header-icon-holder { display: flex; align-items: center; justify-content: center; margin-right: 16px; color: #aaa; }

.small-cards-grid .small-card-header .small-card-title .card-header-icon-holder svg { width: 1.2em; }

.small-cards-grid .small-card-text li { text-align: justify; position: relative; line-height: 150%; margin-bottom: 1em; list-style: none; background-size: 8px; background-position-y: 8px; }

.small-cards-grid .small-card-text li::before { top: 1em; }

/*# sourceMappingURL=main.css.map */