html, body, ul, ul li, h1, h2, h3, h4, h5, h6, div, span, img { margin: 0; padding: 0; }

html, body { margin: 0; padding: 0; font-family: "Montserrat", sans-serif; color: #444; }

a { color: unset; }

.strong-text { font-weight: 500; }

.normal-text { font-weight: 400; }

@font-face { font-family: "Caveat-Regular"; src: url("font/Caveat-Regular.ttf") format("truetype"); font-weight: 400; }

@font-face { font-family: "Caveat-Bold"; src: url("font/Caveat-Bold.ttf") format("truetype"); font-weight: 400; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Thin.ttf") format("truetype"); font-weight: 100; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Light.ttf") format("truetype"); font-weight: 300; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Regular.ttf") format("truetype"); font-weight: 400; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Medium.ttf") format("truetype"); font-weight: 500; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-SemiBold.ttf") format("truetype"); font-weight: 600; }

@font-face { font-family: "Montserrat"; src: url("font/Montserrat-Bold.ttf") format("truetype"); font-weight: 700; }

h1 { font-family: "Montserrat"; font-weight: 300; font-size: 16px; }

h2 { font-family: "Montserrat"; font-weight: 300; font-size: 16px; }

h3 { font-family: "Montserrat"; font-weight: 300; font-size: 16px; }

.shadow-2dp { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.shadow-3dp { box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4); }

.shadow-4dp { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4); }

.shadow-6dp { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4); }

.shadow-8dp { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

.shadow-12dp { box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4); }

.shadow-16dp { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4); }

.inset-shadow-2dp { box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14), inset 0 1px 5px 0 rgba(0, 0, 0, 0.12), inset 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.inset-shadow-3dp { box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.14), inset 0 1px 8px 0 rgba(0, 0, 0, 0.12), inset 0 3px 3px -2px rgba(0, 0, 0, 0.4); }

.inset-shadow-4dp { box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.14), inset 0 1px 10px 0 rgba(0, 0, 0, 0.12), inset 0 2px 4px -1px rgba(0, 0, 0, 0.4); }

.inset-shadow-6dp { box-shadow: inset 0 6px 10px 0 rgba(0, 0, 0, 0.14), inset 0 1px 18px 0 rgba(0, 0, 0, 0.12), inset 0 3px 5px -1px rgba(0, 0, 0, 0.4); }

.inset-shadow-8dp { box-shadow: inset 0 8px 10px 1px rgba(0, 0, 0, 0.14), inset 0 3px 14px 2px rgba(0, 0, 0, 0.12), inset 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

.inset-shadow-12dp { box-shadow: inset 0 12px 16px 1px rgba(0, 0, 0, 0.14), inset 0 4px 22px 3px rgba(0, 0, 0, 0.12), inset 0 6px 7px -4px rgba(0, 0, 0, 0.4); }

.inset-shadow-16dp { box-shadow: inset 0 16px 24px 2px rgba(0, 0, 0, 0.14), inset 0 6px 30px 5px rgba(0, 0, 0, 0.12), inset 0 8px 10px -5px rgba(0, 0, 0, 0.4); }

.layout.horizontal, .layout.vertical { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.layout.inline { display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex; }

.layout.horizontal { -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }

.layout.vertical { -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }

.layout.wrap { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.layout.no-wrap { -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }

.layout.center, .layout.center-center { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.layout.center-justified, .layout.center-center { -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.flex { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

.flex-auto { -ms-flex: 1 1 auto; -webkit-flex: 1 1 auto; flex: 1 1 auto; }

.flex-none { -ms-flex: none; -webkit-flex: none; flex: none; }

.layout.horizontal-reverse, .layout.vertical-reverse { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.layout.horizontal-reverse { -ms-flex-direction: row-reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }

.layout.vertical-reverse { -ms-flex-direction: column-reverse; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }

.layout.wrap-reverse { -ms-flex-wrap: wrap-reverse; -webkit-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

/** Alignment in cross axis. */
.layout.start { -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; }

.layout.center, .layout.center-center { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.layout.end { -ms-flex-align: end; -webkit-align-items: flex-end; align-items: flex-end; }

.layout.baseline { -ms-flex-align: baseline; -webkit-align-items: baseline; align-items: baseline; }

/** Alignment in main axis. */
.layout.start-justified { -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; }

.layout.center-justified, .layout.center-center { -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.layout.end-justified { -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }

.layout.around-justified { -ms-flex-pack: distribute; -webkit-justify-content: space-around; justify-content: space-around; }

.layout.justified { -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

/** Self alignment. */
.self-start { -ms-align-self: flex-start; -webkit-align-self: flex-start; align-self: flex-start; }

.self-center { -ms-align-self: center; -webkit-align-self: center; align-self: center; }

.self-end { -ms-align-self: flex-end; -webkit-align-self: flex-end; align-self: flex-end; }

.self-stretch { -ms-align-self: stretch; -webkit-align-self: stretch; align-self: stretch; }

.self-baseline { -ms-align-self: baseline; -webkit-align-self: baseline; align-self: baseline; }

/** multi-line alignment in main axis. */
.layout.start-aligned { -ms-flex-line-pack: start; /* IE10 */ -ms-align-content: flex-start; -webkit-align-content: flex-start; align-content: flex-start; }

.layout.end-aligned { -ms-flex-line-pack: end; /* IE10 */ -ms-align-content: flex-end; -webkit-align-content: flex-end; align-content: flex-end; }

.layout.center-aligned { -ms-flex-line-pack: center; /* IE10 */ -ms-align-content: center; -webkit-align-content: center; align-content: center; }

.layout.between-aligned { -ms-flex-line-pack: justify; /* IE10 */ -ms-align-content: space-between; -webkit-align-content: space-between; align-content: space-between; }

.layout.around-aligned { -ms-flex-line-pack: distribute; /* IE10 */ -ms-align-content: space-around; -webkit-align-content: space-around; align-content: space-around; }

.flex, .flex-1 { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

.flex-2 { -ms-flex: 2; -webkit-flex: 2; flex: 2; }

.flex-3 { -ms-flex: 3; -webkit-flex: 3; flex: 3; }

.flex-4 { -ms-flex: 4; -webkit-flex: 4; flex: 4; }

.flex-5 { -ms-flex: 5; -webkit-flex: 5; flex: 5; }

.flex-6 { -ms-flex: 6; -webkit-flex: 6; flex: 6; }

.flex-7 { -ms-flex: 7; -webkit-flex: 7; flex: 7; }

.flex-8 { -ms-flex: 8; -webkit-flex: 8; flex: 8; }

.flex-9 { -ms-flex: 9; -webkit-flex: 9; flex: 9; }

.flex-10 { -ms-flex: 10; -webkit-flex: 10; flex: 10; }

.flex-11 { -ms-flex: 11; -webkit-flex: 11; flex: 11; }

.flex-12 { -ms-flex: 12; -webkit-flex: 12; flex: 12; }

.block { display: block; }

[hidden], .hidden { display: none !important; }

.invisible { visibility: hidden !important; pointer-events: none; }

.relative { position: relative; }

.fit { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

body.fullbleed { margin: 0; height: 100vh; }

.scroll { -webkit-overflow-scrolling: touch; overflow: auto; }

/* fixed position */
.fixed-bottom, .fixed-left, .fixed-right, .fixed-top { position: fixed; }

.fixed-top { top: 0; left: 0; right: 0; }

.fixed-right { top: 0; right: 0; bottom: 0; }

.fixed-bottom { right: 0; bottom: 0; left: 0; }

.fixed-left { top: 0; bottom: 0; left: 0; }

.shrinkable { min-width: 0; min-height: 0; }

.horizontal-shrinkable { min-width: 0; }

.vertical-shrinkable { min-height: 0; }

.self-no-shrink { flex-shrink: 0 !important; flex-basis: auto !important; }

html, body { --big-screen-switch: 1; --small-screen-switch: 0; --small-screen-mult-05: 1; font-size: 14px; }

html .page-item, body .page-item { position: relative; width: 100%; box-sizing: border-box; }

html .page-item .page-item-content, body .page-item .page-item-content { position: relative; box-sizing: border-box; width: 100rem; padding-left: 4rem; padding-right: 4rem; }

.page-item.two-column-content .page-item-content { max-width: 1400px; }

.layout.horizontal-big-screen { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }

.layout.center-big-screen { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.flex-big-screen { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

@media (max-width: 1400px) { html, body { font-size: 1vw; } }

@media (max-width: 1000px) { html, body { --big-screen-switch: 0; --small-screen-switch: 1; --small-screen-mult-05: 0.5; font-size: 15px; } html .page-item .page-item-content, body .page-item .page-item-content { width: 33rem; } .hide-small-screen { display: none; } .layout.horizontal-big-screen { -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; } .layout.center-big-screen { -ms-flex-align: unset; -webkit-align-items: unset; align-items: unset; } .flex-big-screen { -ms-flex: unset; -webkit-flex: unset; flex: unset; -webkit-flex-basis: unset; flex-basis: unset; } }

.card123 { padding: 2rem; }

.card123 ._img { width: 100%; }

.card123 ._header { font-size: 1.5rem; font-weight: 900; margin-top: 0.5rem; margin-bottom: 0.5rem; }

.card123 ._main { font-size: 1.35rem; font-weight: 300; }

@media (max-width: 500px) { html, body { font-size: 3vw; } }

.section-header { margin-top: 8rem; margin-bottom: 1rem; }

.section-header img { margin-right: 1rem; }

.section-header h3 { font-size: 2.5rem; font-weight: 900; }

ul { font-size: 1.35rem; list-style: none; margin-bottom: 1em; opacity: 0.85; }

ul li { margin-top: 0.5em; margin-bottom: 0.5em; }

ul.section-list { font-size: 1.2rem; list-style: none; margin-bottom: 1em; }

ul.section-list li { margin-top: 0.5em; margin-bottom: 0.5em; }

.site-titles .site-title1 { font-size: 3rem; line-height: 120%; }

.site-titles .site-title2 { font-size: 1.25rem; line-height: 120%; }

.site-titles .site-title3 { font-size: 1.85rem; line-height: 120%; }

.site-titles .site-title4 { font-size: 1.25rem; line-height: 120%; }

@media (max-width: 1000px) { .site-titles .site-title1 { font-size: 2rem; } .site-titles .site-title2 { font-size: 1.1rem; } .site-titles .site-title3 { font-size: 1.4rem; } .site-titles .site-title4 { font-size: 1.1rem; } }

.site-titles { color: #222; }

.site-titles .site-title1 { font-weight: 900; }

.site-titles .site-title2 .strong-text { font-weight: 700; }

.site-titles .site-title3 { font-weight: 900; }

.site-titles .site-title3 .strong-text { font-weight: 900; }

.site-titles .site-title4 .strong-text { font-weight: 900; }

.site-titles { z-index: 9; text-align: center; }

.store-buttons { display: flex; }

.store-buttons._with-shadow a.store-button { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4); }

.store-buttons a.store-button { text-decoration: none; }

.store-buttons .store-button { flex-direction: row; justify-content: flex-end; align-items: center; font-size: 14px; color: #fff; background: #0066cc; border-radius: 8px; display: inline-block; height: 42px; padding-left: 4px; padding-right: 8px; cursor: pointer; user-select: none; }

.store-buttons .store-button svg { height: 24px; width: 24px; margin-right: 4px; }

.store-buttons .store-button:not(:first-child) { margin-left: 8px; }

.sea-bg { margin-top: -4px; width: 100%; height: 10vw; background: #63d4b2; }

html, body { --big-screen-switch: 1; --small-screen-switch: 0; --small-screen-mult-05: 1; font-size: 14px; }

html .page-item, body .page-item { position: relative; width: 100%; box-sizing: border-box; }

html .page-item .page-item-content, body .page-item .page-item-content { position: relative; box-sizing: border-box; width: 100rem; padding-left: 4rem; padding-right: 4rem; }

.page-item.two-column-content .page-item-content { max-width: 1400px; }

.layout.horizontal-big-screen { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }

.layout.center-big-screen { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.flex-big-screen { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

@media (max-width: 1400px) { html, body { font-size: 1vw; } }

@media (max-width: 1000px) { html, body { --big-screen-switch: 0; --small-screen-switch: 1; --small-screen-mult-05: 0.5; font-size: 15px; } html .page-item .page-item-content, body .page-item .page-item-content { width: 33rem; } .hide-small-screen { display: none; } .layout.horizontal-big-screen { -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; } .layout.center-big-screen { -ms-flex-align: unset; -webkit-align-items: unset; align-items: unset; } .flex-big-screen { -ms-flex: unset; -webkit-flex: unset; flex: unset; -webkit-flex-basis: unset; flex-basis: unset; } }

.card123 { padding: 2rem; }

.card123 ._img { width: 100%; }

.card123 ._header { font-size: 1.5rem; font-weight: 900; margin-top: 0.5rem; margin-bottom: 0.5rem; }

.card123 ._main { font-size: 1.35rem; font-weight: 300; }

@media (max-width: 500px) { html, body { font-size: 3vw; } }

.section-header { margin-top: 8rem; margin-bottom: 1rem; }

.section-header img { margin-right: 1rem; }

.section-header h3 { font-size: 2.5rem; font-weight: 900; }

ul { font-size: 1.35rem; list-style: none; margin-bottom: 1em; opacity: 0.85; }

ul li { margin-top: 0.5em; margin-bottom: 0.5em; }

ul.section-list { font-size: 1.2rem; list-style: none; margin-bottom: 1em; }

ul.section-list li { margin-top: 0.5em; margin-bottom: 0.5em; }

.layout.horizontal, .layout.vertical { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.layout.inline { display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex; }

.layout.horizontal { -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }

.layout.vertical { -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; }

.layout.wrap { -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; }

.layout.no-wrap { -ms-flex-wrap: nowrap; -webkit-flex-wrap: nowrap; flex-wrap: nowrap; }

.layout.center, .layout.center-center { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.layout.center-justified, .layout.center-center { -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.flex { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

.flex-auto { -ms-flex: 1 1 auto; -webkit-flex: 1 1 auto; flex: 1 1 auto; }

.flex-none { -ms-flex: none; -webkit-flex: none; flex: none; }

.layout.horizontal-reverse, .layout.vertical-reverse { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.layout.horizontal-reverse { -ms-flex-direction: row-reverse; -webkit-flex-direction: row-reverse; flex-direction: row-reverse; }

.layout.vertical-reverse { -ms-flex-direction: column-reverse; -webkit-flex-direction: column-reverse; flex-direction: column-reverse; }

.layout.wrap-reverse { -ms-flex-wrap: wrap-reverse; -webkit-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

/** Alignment in cross axis. */
.layout.start { -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; }

.layout.center, .layout.center-center { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.layout.end { -ms-flex-align: end; -webkit-align-items: flex-end; align-items: flex-end; }

.layout.baseline { -ms-flex-align: baseline; -webkit-align-items: baseline; align-items: baseline; }

/** Alignment in main axis. */
.layout.start-justified { -ms-flex-pack: start; -webkit-justify-content: flex-start; justify-content: flex-start; }

.layout.center-justified, .layout.center-center { -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; }

.layout.end-justified { -ms-flex-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }

.layout.around-justified { -ms-flex-pack: distribute; -webkit-justify-content: space-around; justify-content: space-around; }

.layout.justified { -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

/** Self alignment. */
.self-start { -ms-align-self: flex-start; -webkit-align-self: flex-start; align-self: flex-start; }

.self-center { -ms-align-self: center; -webkit-align-self: center; align-self: center; }

.self-end { -ms-align-self: flex-end; -webkit-align-self: flex-end; align-self: flex-end; }

.self-stretch { -ms-align-self: stretch; -webkit-align-self: stretch; align-self: stretch; }

.self-baseline { -ms-align-self: baseline; -webkit-align-self: baseline; align-self: baseline; }

/** multi-line alignment in main axis. */
.layout.start-aligned { -ms-flex-line-pack: start; /* IE10 */ -ms-align-content: flex-start; -webkit-align-content: flex-start; align-content: flex-start; }

.layout.end-aligned { -ms-flex-line-pack: end; /* IE10 */ -ms-align-content: flex-end; -webkit-align-content: flex-end; align-content: flex-end; }

.layout.center-aligned { -ms-flex-line-pack: center; /* IE10 */ -ms-align-content: center; -webkit-align-content: center; align-content: center; }

.layout.between-aligned { -ms-flex-line-pack: justify; /* IE10 */ -ms-align-content: space-between; -webkit-align-content: space-between; align-content: space-between; }

.layout.around-aligned { -ms-flex-line-pack: distribute; /* IE10 */ -ms-align-content: space-around; -webkit-align-content: space-around; align-content: space-around; }

.flex, .flex-1 { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

.flex-2 { -ms-flex: 2; -webkit-flex: 2; flex: 2; }

.flex-3 { -ms-flex: 3; -webkit-flex: 3; flex: 3; }

.flex-4 { -ms-flex: 4; -webkit-flex: 4; flex: 4; }

.flex-5 { -ms-flex: 5; -webkit-flex: 5; flex: 5; }

.flex-6 { -ms-flex: 6; -webkit-flex: 6; flex: 6; }

.flex-7 { -ms-flex: 7; -webkit-flex: 7; flex: 7; }

.flex-8 { -ms-flex: 8; -webkit-flex: 8; flex: 8; }

.flex-9 { -ms-flex: 9; -webkit-flex: 9; flex: 9; }

.flex-10 { -ms-flex: 10; -webkit-flex: 10; flex: 10; }

.flex-11 { -ms-flex: 11; -webkit-flex: 11; flex: 11; }

.flex-12 { -ms-flex: 12; -webkit-flex: 12; flex: 12; }

.block { display: block; }

[hidden], .hidden { display: none !important; }

.invisible { visibility: hidden !important; pointer-events: none; }

.relative { position: relative; }

.fit { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

body.fullbleed { margin: 0; height: 100vh; }

.scroll { -webkit-overflow-scrolling: touch; overflow: auto; }

/* fixed position */
.fixed-bottom, .fixed-left, .fixed-right, .fixed-top { position: fixed; }

.fixed-top { top: 0; left: 0; right: 0; }

.fixed-right { top: 0; right: 0; bottom: 0; }

.fixed-bottom { right: 0; bottom: 0; left: 0; }

.fixed-left { top: 0; bottom: 0; left: 0; }

.shrinkable { min-width: 0; min-height: 0; }

.horizontal-shrinkable { min-width: 0; }

.vertical-shrinkable { min-height: 0; }

.self-no-shrink { flex-shrink: 0 !important; flex-basis: auto !important; }

.product-title { font-size: 28px; color: #fff; line-height: 1; }

.menu-item { font-size: 18px; color: #fff; }

.site-header { box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25); position: fixed; top: 0; left: 0; right: 0; width: 100vw; height: 42px; padding-left: 2rem; padding-right: 2rem; box-sizing: border-box; background: #222; color: #fff; padding-top: 1.2rem; padding-bottom: 1.2rem; z-index: 10; justify-content: center; }

.site-header a { text-decoration: none; }

.site-header .section { max-width: calc(min(60em, 90%)); }

.site-footer { font-size: 1em; width: 100%; background: #222; color: #fff; padding-top: 0.8rem; padding-bottom: 0.8rem; }

.site-footer a { text-decoration: none; }

.pxd-address { padding-top: 1rem; padding-bottom: 1rem; }

.pricing-section { display: flex; flex-direction: column; align-items: center; margin-top: 4rem; margin-bottom: 16rem; margin-left: 2rem; margin-right: 2rem; }

.pricing-section .pricing-section-content { display: flex; flex-direction: column; align-items: start; }

.pricing-section .pricing-section-content .pricing-title { margin-top: 3rem; margin-bottom: 1rem; color: #333; }

.pricing-section .pricing-section-content .pricing-title ._l1 { font-weight: 700; font-size: 4rem; }

.pricing-section .pricing-section-content .pricing-title ._l2 { font-size: 3rem; font-weight: 400; margin-top: 1rem; }

.pricing-section .pricing-section-content .pricing-title ._l2 .strong-text { font-weight: 700; }

.pricing-section .pricing-section-content .pricing-title ._l3 { font-size: 2.5rem; font-weight: 400; margin-top: 1.2rem; }

.pricing-section .pricing-section-content .pricing-title ._l3 .strong-text { font-weight: 700; }

.pricing-section .pricing-section-content .free-pricing-title { margin-top: 3rem; margin-bottom: 1rem; color: #333; }

.pricing-section .pricing-section-content .free-pricing-title ._l1 { font-weight: 400; font-size: 2rem; }

.pricing-section .pricing-section-content .free-pricing-title ._l1 .strong-text { font-weight: 900; }

.pricing-section .pricing-section-content .free-pricing-title ._l2 { margin-top: 1rem; font-weight: 400; font-size: 1.25rem; max-width: 50rem; line-height: 150% !important; }

.pricing-section .pricing-section-content .free-pricing-title ._l2 .strong-text { font-weight: 600; }

.pricing-section .pricing-section-content .pricing-title2 { margin-top: 1.5rem; margin-bottom: 1rem; font-size: 1.2rem; }

.pricing-section .pricing-section-content .pricing-features-list { margin-top: 2rem; margin-bottom: 3rem; max-width: 800px; font-weight: 400; font-size: 1.5rem; }

.pricing-section .pricing-section-content .pricing-features-list li { line-height: 150%; }

@media (max-width: 1000px) { .pricing-section .pricing-section-content .pricing-title ._l1 { font-size: 1.5rem; } .pricing-section .pricing-section-content .pricing-title ._l2 { font-size: 1.2rem; } .pricing-section .pricing-section-content .pricing-title ._l3 { font-size: 1.2rem; } .pricing-section .pricing-section-content .free-pricing-title ._l1 { font-size: 1.2rem; } .pricing-section .pricing-section-content .free-pricing-title ._l2 { font-size: 1rem; } .pricing-section .pricing-section-content .pricing-title2 { font-size: 1rem; } .pricing-section .pricing-section-content .pricing-features-list { font-size: 1rem; } }

html, body { --big-screen-switch: 1; --small-screen-switch: 0; --small-screen-mult-05: 1; font-size: 14px; }

html .page-item, body .page-item { position: relative; width: 100%; box-sizing: border-box; }

html .page-item .page-item-content, body .page-item .page-item-content { position: relative; box-sizing: border-box; width: 100rem; padding-left: 4rem; padding-right: 4rem; }

.page-item.two-column-content .page-item-content { max-width: 1400px; }

.layout.horizontal-big-screen { display: -ms-flexbox; display: -webkit-flex; display: flex; -ms-flex-direction: row; -webkit-flex-direction: row; flex-direction: row; }

.layout.center-big-screen { -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.flex-big-screen { -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1; -webkit-flex-basis: 0.000000001px; flex-basis: 0.000000001px; }

@media (max-width: 1400px) { html, body { font-size: 1vw; } }

@media (max-width: 1000px) { html, body { --big-screen-switch: 0; --small-screen-switch: 1; --small-screen-mult-05: 0.5; font-size: 15px; } html .page-item .page-item-content, body .page-item .page-item-content { width: 33rem; } .hide-small-screen { display: none; } .layout.horizontal-big-screen { -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; } .layout.center-big-screen { -ms-flex-align: unset; -webkit-align-items: unset; align-items: unset; } .flex-big-screen { -ms-flex: unset; -webkit-flex: unset; flex: unset; -webkit-flex-basis: unset; flex-basis: unset; } }

.card123 { padding: 2rem; }

.card123 ._img { width: 100%; }

.card123 ._header { font-size: 1.5rem; font-weight: 900; margin-top: 0.5rem; margin-bottom: 0.5rem; }

.card123 ._main { font-size: 1.35rem; font-weight: 300; }

@media (max-width: 500px) { html, body { font-size: 3vw; } }

.section-header { margin-top: 8rem; margin-bottom: 1rem; }

.section-header img { margin-right: 1rem; }

.section-header h3 { font-size: 2.5rem; font-weight: 900; }

ul { font-size: 1.35rem; list-style: none; margin-bottom: 1em; opacity: 0.85; }

ul li { margin-top: 0.5em; margin-bottom: 0.5em; }

ul.section-list { font-size: 1.2rem; list-style: none; margin-bottom: 1em; }

ul.section-list li { margin-top: 0.5em; margin-bottom: 0.5em; }

/*# sourceMappingURL=main.css.map */