
.stacked-paper {
    background: #fff;
    padding: 30px;
    position: relative;
}

.stacked-paper,
.stacked-paper::before,
.stacked-paper::after {
    /* Styles to distinguish sheets from one another */
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.35);
}

.stacked-paper::before,
.stacked-paper::after {
    content: "";
    position: absolute;
    height: 102%;
    width: 102%;
}
.stacked-paper::before {
    background-color: hsl(211, 100%, 80%);
    top: 2px;
    right: -4px;
    transform: rotate(3deg);
    z-index: -1;
}
.stacked-paper::after {
    background-color: hsl(211, 100%, 70%);
    right: 5px;
    top: -2px;
    transform: rotate(-3deg);
    z-index: -2;
}

.stacked-paper-red {
    &.stacked-paper::after {
        background-color: hsl(0, 100%, 70%);
    } 
    &.stacked-paper::before {
        background-color: hsl(0, 100%, 80%);
    }       
}

.stacked-paper-purple {
    &.stacked-paper::after {
        background-color: hsl(240, 100%, 70%);
    } 
    &.stacked-paper::before {
        background-color: hsl(240, 100%, 80%);
    }       
}

.stacked-paper-green {
    &.stacked-paper::after {
        background-color: hsl(160, 100%, 70%);
    } 
    &.stacked-paper::before {
        background-color: hsl(160, 100%, 80%);
    }       
}

.stacked-paper-orange {
    &.stacked-paper::before {
        background-color: #ffc57b;
    }
    &.stacked-paper::after {
        background-color: #ffa536;
    } 
           
}
.code .stacked-paper {
    background: #f2ad52;
    // box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.1); 
}