---

---

<div class="w-full max-w-md mx-auto p-8">
  <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
  <!-- Created with Pixodesk SVG (https://pixodesk.com) -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 750 750"
    text-rendering="geometricPrecision"
    shape-rendering="geometricPrecision"
    fill="none"
    stroke="none"
    id="clock-svg"
  >
    <defs>
      <linearGradient
        id="16993"
        x1="0"
        y1="0"
        x2="36.823"
        y2="0"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0%" stop-color="rgb(255,255,255)"></stop>
      </linearGradient>
      <radialGradient
        id="16879"
        spreadMethod="pad"
        cx="0"
        cy="0"
        fx="0"
        fy="0"
        r="43"
        gradientUnits="userSpaceOnUse"></radialGradient>
      <linearGradient
        id="16765"
        x1="0"
        y1="126.4208"
        x2="8.8579"
        y2="126.4208"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0%" stop-color="rgb(255,255,255)"></stop>
      </linearGradient>
      <linearGradient
        id="5240"
        x1="-0.99"
        y1="-32.3191"
        x2="0.976"
        y2="-32.3427"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0%" stop-color="rgb(92,150,197)"></stop>
        <stop offset="48.5%" stop-color="rgb(255,255,255)"></stop>
        <stop offset="100%" stop-color="rgb(92,150,197)"></stop>
      </linearGradient>
      <linearGradient
        id="1413"
        x1="-0.99"
        y1="-32.3191"
        x2="0.976"
        y2="-32.3427"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0%" stop-color="rgb(92,150,197)"></stop>
        <stop offset="48.5%" stop-color="rgb(255,255,255)"></stop>
        <stop offset="100%" stop-color="rgb(92,150,197)"></stop>
      </linearGradient>
    </defs>
    <g
      transform="translate(375.2541,376.6543)scale(1.3552,1.3552)translate(-275.0037,-275.5492)"
    >
      <g
        data-px-label="clock face"
        transform="translate(274.8162,273.9283)scale(0.8563,0.8563)translate(-500,-500)"
      >
        <g
          data-px-label="repeater-hours-minutes"
          transform="translate(499.9999,357.4197)translate(-499.9999,-357.4197)"
        >
          <g
            data-px-label="minutes"
            transform="translate(499.9999,189)translate(-499.9999,-348.5326)"
          >
            <g id="_px_svg_1k4c95f2" data-px-label="repeater-minutes">
              <path
                fill="none"
                stroke="url(#1413)"
                stroke-width="2"
                stroke-linecap="round"
                transform="translate(499.9999,399.6499)"
                d="M0,-47.9013L0,-54.3333"></path>
            </g>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(71.7278,-48.6487)rotate(5.9985)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(148.1479,-89.5333)rotate(11.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(228.423,-122.2058)rotate(17.9983)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(311.6735,-146.3083)rotate(23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(396.9873,-161.5768)rotate(30.0007)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(483.4298,-167.8438)rotate(36.0013)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(570.0538,-165.0409)rotate(42.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(655.9103,-153.1986)rotate(47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(740.0586,-132.4468)rotate(53.9987)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(821.5768,-103.0127)rotate(59.9993)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(899.5717,-65.2189)rotate(66.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(973.1888,-19.4795)rotate(72.0017)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1041.6216,33.7045)rotate(78.0001)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1104.1202,93.7503)rotate(84.0015)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1160,160)rotate(90)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1208.6487,231.7278)rotate(95.9985)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1249.5333,308.1479)rotate(101.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1282.2058,388.423)rotate(107.9983)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1306.3083,471.6735)rotate(113.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1321.5768,556.9873)rotate(120.0007)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1327.8438,643.4298)rotate(126.0013)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1325.0409,730.0538)rotate(132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1313.1986,815.9103)rotate(137.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1292.4468,900.0586)rotate(143.9987)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1263.0127,981.5768)rotate(149.9993)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1225.2189,1059.5717)rotate(156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1179.4795,1133.1888)rotate(162.0017)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1126.2955,1201.6216)rotate(168.0001)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1066.2497,1264.1202)rotate(174.0015)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1000,1320)rotate(-180)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(928.2722,1368.6487)rotate(-174.0015)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(851.8521,1409.5333)rotate(-168.0001)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(771.577,1442.2058)rotate(-162.0017)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(688.3265,1466.3083)rotate(-156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(603.0127,1481.5768)rotate(-149.9993)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(516.5702,1487.8438)rotate(-143.9987)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(429.9462,1485.0409)rotate(-137.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(344.0897,1473.1986)rotate(-132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(259.9414,1452.4468)rotate(-126.0013)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(178.4232,1423.0127)rotate(-120.0007)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(100.4283,1385.2189)rotate(-113.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(26.8112,1339.4795)rotate(-107.9983)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-41.6216,1286.2955)rotate(-101.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-104.1202,1226.2497)rotate(-95.9985)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-160,1160)rotate(-90)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-208.6487,1088.2722)rotate(-84.0015)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-249.5333,1011.8521)rotate(-78.0001)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-282.2058,931.577)rotate(-72.0017)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-306.3083,848.3265)rotate(-66.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-321.5768,763.0127)rotate(-59.9993)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-327.8438,676.5702)rotate(-53.9987)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-325.0409,589.9462)rotate(-47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-313.1986,504.0897)rotate(-42.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-292.4468,419.9414)rotate(-36.0013)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-263.0127,338.4232)rotate(-30.0007)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-225.2189,260.4283)rotate(-23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-179.4795,186.8112)rotate(-17.9983)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-126.2955,118.3784)rotate(-11.9999)"
              href="#_px_svg_1k4c95f2"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-66.2497,55.8798)rotate(-5.9985)"
              href="#_px_svg_1k4c95f2"></use>
          </g>
          <g
            data-px-label="hours"
            transform="translate(499.9999,189)translate(-499.9999,-348.5326)"
          >
            <g id="_px_svg_1k4c95f1" data-px-label="repeater-hours">
              <path
                fill="none"
                stroke="url(#5240)"
                stroke-width="2"
                stroke-linecap="round"
                transform="translate(499.9999,399.6499)"
                d="M0,-19.1173L0,-54.3333"></path>
            </g>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(396.9873,-161.5768)rotate(30.0007)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(821.5768,-103.0127)rotate(59.9993)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1160,160)rotate(90)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1321.5768,556.9873)rotate(120.0007)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1263.0127,981.5768)rotate(149.9993)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1000,1320)rotate(-180)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(603.0127,1481.5768)rotate(-149.9993)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(178.4232,1423.0127)rotate(-120.0007)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-160,1160)rotate(-90)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-321.5768,763.0127)rotate(-59.9993)"
              href="#_px_svg_1k4c95f1"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-263.0127,338.4232)rotate(-30.0007)"
              href="#_px_svg_1k4c95f1"></use>
          </g>
        </g>
        <g
          data-px-label="repeater-beams"
          fill="#ffcf85"
          fill-opacity="0.31"
          stroke="none"
          transform="translate(498.7279,351.4794)translate(-498.7279,-351.4794)"
        >
          <g transform="translate(500,399.0446)translate(-500,-399.0446)">
            <g
              id="_px_svg_1k4c95f0"
              data-px-label="repeater 4"
              fill="#3377ff56"
            >
              <path
                stroke="none"
                transform="translate(500,420.0446)translate(-0.7413,-64.5691)"
                d="M0.7413,0C1.1507,0,1.4826,0.3319,1.4826,0.7413L1.4826,87.9595C1.4826,88.3687,1.1507,88.7008,0.7413,88.7008C0.3319,88.7008,0,88.3687,0,87.9595L0,0.7413C0,0.3319,0.3319,0,0.7413,0z"
              ></path>
            </g>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(115.0019,-93.1657)rotate(11.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(246.8611,-160.3853)rotate(23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(389.8145,-198.721)rotate(36.0013)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(537.6144,-206.4972)rotate(47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(683.8014,-183.3742)rotate(59.9993)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(821.9863,-130.3625)rotate(72.0017)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(946.1297,-49.7789)rotate(84.0015)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1050.8061,54.8546)rotate(95.9985)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1131.4405,178.965)rotate(107.9983)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1184.5088,317.1281)rotate(120.0007)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1207.6917,463.3056)rotate(132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1199.9761,611.1087)rotate(143.9987)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1161.699,754.0779)rotate(156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1094.5334,885.9645)rotate(168.0001)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1001.4148,1001.0046)rotate(-180)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(886.4129,1094.1703)rotate(-168.0001)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(754.5537,1161.3899)rotate(-156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(611.6003,1199.7256)rotate(-143.9987)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(463.8004,1207.5018)rotate(-132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(317.6134,1184.3788)rotate(-120.0007)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(179.4285,1131.3671)rotate(-107.9983)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(55.2851,1050.7835)rotate(-95.9985)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-49.3913,946.15)rotate(-84.0015)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-130.0257,822.0396)rotate(-72.0017)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-183.094,683.8765)rotate(-59.9993)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-206.2769,537.699)rotate(-47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-198.5613,389.8959)rotate(-36.0013)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-160.2842,246.9267)rotate(-23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95f0"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-93.1186,115.0401)rotate(-11.9999)"
              href="#_px_svg_1k4c95f0"></use>
          </g>
          <g
            transform="translate(505.2864,399.2366)rotate(3)translate(-500,-399.0446)"
          >
            <g
              id="_px_svg_1k4c95ev"
              data-px-label="repeater 3"
              fill="#1064ff56"
            >
              <path
                stroke="none"
                transform="translate(497.0691,323.1213)translate(-0.7413,-64.5691)"
                d="M0.7413,0C1.1507,0,1.4826,0.3319,1.4826,0.7413L1.4826,87.9594C1.4826,88.3687,1.1507,88.7008,0.7413,88.7008C0.3319,88.7008,0,88.3687,0,87.9594L0,0.7413C0,0.3319,0.3319,0,0.7413,0z"
              ></path>
            </g>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(115.0019,-93.1657)rotate(11.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(246.861,-160.3853)rotate(23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(389.8145,-198.7209)rotate(36.0013)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(537.6144,-206.4971)rotate(47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(683.8014,-183.3741)rotate(59.9993)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(821.9862,-130.3624)rotate(72.0017)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(946.1296,-49.7788)rotate(84.0015)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1050.806,54.8547)rotate(95.9985)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1131.4403,178.9651)rotate(107.9983)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1184.5087,317.1282)rotate(120.0007)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1207.6916,463.3057)rotate(132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1199.9759,611.1088)rotate(143.9987)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1161.6988,754.0779)rotate(156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1094.5332,885.9645)rotate(168.0001)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1001.4146,1001.0046)rotate(-180)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(886.4127,1094.1703)rotate(-168.0001)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(754.5536,1161.3899)rotate(-156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(611.6001,1199.7255)rotate(-143.9987)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(463.8002,1207.5017)rotate(-132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(317.6132,1184.3787)rotate(-120.0007)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(179.4284,1131.367)rotate(-107.9983)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(55.285,1050.7834)rotate(-95.9985)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-49.3914,946.1499)rotate(-84.0015)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-130.0257,822.0395)rotate(-72.0017)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-183.0941,683.8764)rotate(-59.9993)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-206.277,537.6989)rotate(-47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-198.5613,389.8958)rotate(-36.0013)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-160.2842,246.9267)rotate(-23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95ev"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-93.1186,115.0401)rotate(-11.9999)"
              href="#_px_svg_1k4c95ev"></use>
          </g>
          <g
            transform="translate(498.2365,399.0422)rotate(-1)translate(-500,-399.0446)"
          >
            <g
              id="_px_svg_1k4c95eu"
              data-px-label="repeater 2"
              fill="#1658ff2d"
            >
              <path
                stroke="none"
                transform="translate(500.3664,358.0478)translate(-0.7413,-64.5691)"
                d="M0.7413,0C1.1507,0,1.4826,0.3319,1.4826,0.7413L1.4826,87.9594C1.4826,88.3687,1.1507,88.7008,0.7413,88.7008C0.3319,88.7008,0,88.3687,0,87.9594L0,0.7413C0,0.3319,0.3319,0,0.7413,0z"
              ></path>
            </g>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(115.0019,-93.1657)rotate(11.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(246.861,-160.3853)rotate(23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(389.8145,-198.7209)rotate(36.0013)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(537.6144,-206.4971)rotate(47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(683.8014,-183.3741)rotate(59.9993)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(821.9862,-130.3624)rotate(72.0017)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(946.1296,-49.7788)rotate(84.0015)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1050.806,54.8547)rotate(95.9985)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1131.4403,178.9651)rotate(107.9983)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1184.5087,317.1282)rotate(120.0007)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1207.6916,463.3057)rotate(132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1199.9759,611.1088)rotate(143.9987)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1161.6988,754.0779)rotate(156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1094.5332,885.9645)rotate(168.0001)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1001.4146,1001.0046)rotate(-180)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(886.4127,1094.1703)rotate(-168.0001)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(754.5536,1161.3899)rotate(-156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(611.6001,1199.7255)rotate(-143.9987)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(463.8002,1207.5017)rotate(-132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(317.6132,1184.3787)rotate(-120.0007)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(179.4284,1131.367)rotate(-107.9983)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(55.285,1050.7834)rotate(-95.9985)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-49.3914,946.1499)rotate(-84.0015)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-130.0257,822.0395)rotate(-72.0017)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-183.0941,683.8764)rotate(-59.9993)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-206.277,537.6989)rotate(-47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-198.5613,389.8958)rotate(-36.0013)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-160.2842,246.9267)rotate(-23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95eu"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-93.1186,115.0401)rotate(-11.9999)"
              href="#_px_svg_1k4c95eu"></use>
          </g>
          <g
            transform="translate(492.9496,399.2191)rotate(-4)translate(-500,-399.0446)"
          >
            <g
              id="_px_svg_1k4c95et"
              data-px-label="repeater 1"
              fill="#4086ff5e"
            >
              <path
                stroke="none"
                transform="translate(501.0984,373.0888)translate(-0.7413,-64.5691)"
                d="M0.7413,0C1.1507,0,1.4826,0.3319,1.4826,0.7413L1.4826,87.9594C1.4826,88.3687,1.1507,88.7008,0.7413,88.7008C0.3319,88.7008,0,88.3687,0,87.9594L0,0.7413C0,0.3319,0.3319,0,0.7413,0z"
              ></path>
            </g>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(115.0019,-93.1657)rotate(11.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(246.861,-160.3853)rotate(23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(389.8145,-198.7209)rotate(36.0013)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(537.6144,-206.4971)rotate(47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(683.8014,-183.3741)rotate(59.9993)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(821.9862,-130.3624)rotate(72.0017)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(946.1296,-49.7788)rotate(84.0015)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1050.806,54.8547)rotate(95.9985)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1131.4403,178.9651)rotate(107.9983)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1184.5087,317.1282)rotate(120.0007)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1207.6916,463.3057)rotate(132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1199.9759,611.1088)rotate(143.9987)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1161.6988,754.0779)rotate(156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1094.5332,885.9645)rotate(168.0001)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(1001.4146,1001.0046)rotate(-180)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(886.4127,1094.1703)rotate(-168.0001)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(754.5536,1161.3899)rotate(-156.0009)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(611.6001,1199.7255)rotate(-143.9987)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(463.8002,1207.5017)rotate(-132.0004)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(317.6132,1184.3787)rotate(-120.0007)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(179.4284,1131.367)rotate(-107.9983)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(55.285,1050.7834)rotate(-95.9985)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-49.3914,946.1499)rotate(-84.0015)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-130.0257,822.0395)rotate(-72.0017)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-183.0941,683.8764)rotate(-59.9993)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-206.277,537.6989)rotate(-47.9996)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-198.5613,389.8958)rotate(-36.0013)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-160.2842,246.9267)rotate(-23.9991)scale(0.9999,0.9999)"
              href="#_px_svg_1k4c95et"></use>
            <use
              class="tpbl drg drg-chk-th"
              transform="translate(-93.1186,115.0401)rotate(-11.9999)"
              href="#_px_svg_1k4c95et"></use>
          </g>
        </g>
        <g transform="translate(500,500.4674)translate(-500.211,-501.0614)">
          <g
            data-px-label="numbers"
            transform="translate(499.7558,497.6708)translate(-499.7558,-497.6708)"
          >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="90px"
              xml:space="preserve"
              transform="translate(456.4868,297.9862)"
              style="white-space:pre"><tspan>12</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="90px"
              xml:space="preserve"
              transform="translate(471.3797,764.3312)"
              style="white-space:pre"><tspan>6</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="90px"
              xml:space="preserve"
              transform="translate(719,533.6091)"
              style="white-space:pre"><tspan>3</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="90px"
              xml:space="preserve"
              transform="translate(229.7594,523.6091)"
              style="white-space:pre"><tspan>9</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="54px"
              xml:space="preserve"
              transform="translate(620.9691,308.521)"
              style="white-space:pre"><tspan>1</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="54px"
              xml:space="preserve"
              transform="translate(702.1114,392.3562)"
              style="white-space:pre"><tspan>2</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="54px"
              xml:space="preserve"
              transform="translate(699.3028,648.1066)"
              style="white-space:pre"><tspan>4</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="54px"
              xml:space="preserve"
              transform="translate(613.9691,732.17)"
              style="white-space:pre"><tspan>5</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="54px"
              xml:space="preserve"
              transform="translate(361.1384,733.8531)"
              style="white-space:pre"><tspan>7</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="54px"
              xml:space="preserve"
              transform="translate(272.5187,653.1066)"
              style="white-space:pre"><tspan>8</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="54px"
              xml:space="preserve"
              transform="translate(262.1382,401.2341)"
              style="white-space:pre"><tspan>10</tspan></text
            >
            <text
              fill="#ffffff"
              font-family="Prompt-Regular"
              font-size="54px"
              xml:space="preserve"
              transform="translate(351.2514,309.8814)"
              style="white-space:pre"><tspan>11</tspan></text
            >
          </g>
        </g>
        <g
          data-px-label="hands"
          transform="translate(511.6645,522.7498)translate(-511.6645,-522.7498)"
        >
          <g
            id="minute-hand" 
            data-px-label="handMinute"
            transform="translate(500,500.0001)rotate(53.7441)scale(0.687,0.7896)translate(225.707,-548.4464)"
          >
            <path
              fill="#ffffff"
              stroke="none"
              transform="translate(-225.707,521.078)scale(0.1324,0.3418)"
              d="M0,80.0824L-76.1628,24.7468L-47.0712,-639.8303L0,-639.8303C0,-639.8303,30.9618,-639.8303,30.9611,-639.8303C39.9702,-639.8303,47.382,-632.736,47.7757,-623.7356C47.7744,-623.7673,76.1628,24.7468,76.1628,24.7468L0,80.0824z"
            ></path>
            <path
              fill="#ffefec"
              stroke="none"
              transform="translate(-225.707,521.0779)scale(0.1324,0.3418)"
              d="M0,80.0823L-76.1628,24.7468L-47.0712,-639.8303L0,-639.8303L0,80.0823z"
            ></path>
          </g>
          <g
            id="hour-hand"
            data-px-label="handHour"
            transform="translate(500,500.0001)rotate(-55)scale(0.687,0.5723)translate(225.707,-548.4464)"
          >
            <path
              fill="#ffffff"
              stroke="none"
              transform="translate(-225.707,521.0779)scale(0.1324,0.3418)"
              d="M0,80.0823L-76.1628,24.7468L-47.0712,-639.8303L0,-639.8303C0,-639.8303,30.9616,-639.8303,30.9611,-639.8303C39.9702,-639.8303,47.382,-632.736,47.7757,-623.7356C47.7744,-623.7672,76.1628,24.7468,76.1628,24.7468L0,80.0823z"
            ></path>
            <path
              fill="#ffefec"
              stroke="none"
              transform="translate(-225.707,521.0779)scale(0.1324,0.3418)"
              d="M0,80.0823L-76.1628,24.7468L-47.0712,-639.8303L0,-639.8303L0,80.0823z"
            ></path>
          </g>
          <g
            id="second-hand"
            data-px-label="handSecond"
            transform="translate(500,503.1378)rotate(-139.8446)translate(-501.0317,-503.1378)"
          >
            <rect
              fill="url(#16765)"
              stroke="none"
              transform="translate(501.032,333.3543)translate(-4.429,-126.4208)"
              x="3.1844"
              y="86.9744"
              width="2.4892"
              height="165.8673"></rect>
            <rect
              fill="#ffefec"
              stroke="none"
              transform="translate(501.0316,542.8333)translate(-4.4288,-126.4208)"
              x="0.4254"
              y="34.2669"
              width="8.0071"
              height="52.4584"></rect>
          </g>
          <path
            fill="url(#16879)"
            stroke="none"
            transform="translate(500,500)"
            d="M0,-43L15.2028,-15.2028L43,0L15.2028,15.2028L0,43L-15.2028,15.2028L-43,0L-15.2028,-15.2028L0,-43z"
          ></path>
          <ellipse
            fill="#ffefec"
            stroke="none"
            transform="translate(503,501)"
            rx="25.9771"
            ry="25.9771"></ellipse>
          <ellipse
            fill="url(#16993)"
            stroke="none"
            transform="translate(500,500)"
            rx="24"
            ry="24"></ellipse>
        </g>
      </g>
    </g>
  </svg>
</div>


<script>
  // This runs in the browser — updates every 100ms for smooth second hand
  function updateClock() {
    const now = new Date();
    const seconds = now.getSeconds() + now.getMilliseconds() / 1000;
    const minutes = now.getMinutes() + seconds / 60;
    const hours = (now.getHours() % 12) + minutes / 60;

    const secondDeg = seconds * 6;        // 360° / 60 = 6° per second
    const minuteDeg = minutes * 6;        // 6° per minute
    const hourDeg = hours * 30;           // 360° / 12 = 30° per hour

    const secondHand = document.getElementById('second-hand');
    const minuteHand = document.getElementById('minute-hand');
    const hourHand = document.getElementById('hour-hand');

    if (secondHand) secondHand.setAttribute('transform', `translate(500,503.1378) rotate(${secondDeg}) translate(-501.0317,-503.1378)`);
    if (minuteHand) minuteHand.setAttribute('transform', `translate(500,500.0001) rotate(${minuteDeg}) scale(0.687,0.7896) translate(225.707,-548.4464)`);
    if (hourHand)   hourHand.setAttribute('transform',   `translate(500,500.0001) rotate(${hourDeg}) scale(0.687,0.5723) translate(225.707,-548.4464)`);
  }

  // Update immediately + every 100ms for silky smooth second hand
  updateClock();
  setInterval(updateClock, 100);
</script>

<style>
  /* Optional: smooth second hand */
  #second-hand {
    transition: transform 0.05s cubic-bezier(0.1, 0.7, 0.3, 1);
  }
</style>
