---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Section from "../../../layouts/Section.astro";
---

<BaseLayout title="2D Animator Download">
  <section class="tutorials bg-white pt-navDouble">
    <Section
      bgColor="bg-base-bright"
      color="text-base-dark-blue"
      maxWidth="max-w-custom-standard"
      page
    >
      <h1 class="text-center">Pixodesk 2D Animator Tutorials</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full mb-16">
        
        <div class="relative aspect-[2/1]">
          <iframe
            class="w-full h-full rounded-md"
            src="https://www.youtube.com/embed/FoeH3ouaJ5U?si=byumOpR7F7_FheE6"
            title="Basic shapes tutorial - Lottie Animation and SVG Animation in Pixodesk Animator"
            ></iframe>
        </div>

        <div class="relative aspect-[2/1]">
          <iframe
            class="w-full h-full rounded-md"
            src="https://www.youtube.com/embed/HUxIvVPYv9A?si=Ni9334WAESSz5AEW"
            title="Pen and Node tools - Lottie Animation and SVG Animation in Pixodesk Animator"
            ></iframe>
        </div>

        <div class="relative aspect-[2/1]">
          <iframe
            class="w-full h-full rounded-md"
            src="https://www.youtube.com/embed/9PIq3OS0H-I?si=LZlzF3d_9v4eE4hU"
            title="2D Earth and paper plane - Lottie Animation and SVG Animation in Pixodesk Animator"
            ></iframe>
        </div>

        <div class="relative aspect-[2/1]">
          <iframe
            class="w-full h-full rounded-md"
            src="https://www.youtube.com/embed/RGM8R6gDVa0?si=wfFfjhBTnl7rxGlD"
            title="Boolean Operations - Lottie Animation and SVG Animation in Pixodesk Animator"
            ></iframe>
        </div>
      </div>
    </Section>
  </section>
</BaseLayout>
